<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink='/home'>TMSOFT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Informes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/producto'>Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pelicula</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input #txtBuscar (keyup.enter)="buscarPeliculas( txtBuscar.value )" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button (click)="buscarPeliculas( txtBuscar.value )" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </div>
    </div>
</nav>