<p>producto works!</p>

<!-- <ul class="list-group" *ngFor="let producto of productoList; let i = index;">
    <li class="list-group-item">{{ producto[i].nombre }}</li>
</ul> -->

<table class="table mt-3 ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Representa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productoList; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{producto.nombre}}</td>
            <td><label *ngIf="producto.stock > 0" class="badge badge-success"> {{producto.stock}}</label>
                <label *ngIf=" 0>= producto.stock " class="badge badge-danger"> {{producto.stock}}</label>
            </td>
            <td>
                {{producto.precio1}}
            </td>
            <td>
                {{producto.representa}}

            </td>
        </tr>
    </tbody>
</table>